pygooglenews
instaloader
pandas
spacy
transformers
torch
pyyaml
pytest
pytest-mock
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl
pysentimiento
apify-client
matplotlib
seaborn
wordcloud
tabulate